{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel = "stylesheet" href = "{% static 'styles/styles.css' %}" />
    <script src = "{% static 'scripts/app.js' %}" defer></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
    <nav>
        <div class = "nav">
            <ul>
                <a href = "{% url 'home' %}">Home</a>
            </ul>
            <ul>
                <a href = "{% url 'about' %}">About</a>
            </ul>
            <ul>
                <a href = "{% url 'workout_create' %}">Create a Workout</a>
            </ul>
            <ul>
                <a href = "{% url 'exercise_create' %}">Add an Exercise</a>
            </ul>
        </div>
        <div class = "nav">
            <h1>GIT FIT NOW</h1>
        </div>
        {% if user.is_authenticated %}
        <div class = "nav"></div>
            <ul>
                <a href = "/user/{{user.username}}">Hello, {{user.username}}</a>
            </ul>
            <ul>
                <a href = "/accounts/logout"></a>Logout</a>
            </ul>
        </div>
        {% else %}
        <div class = "nav"></div>
            <ul>
                <a href = "{% url 'signup' %}">Sign Up</a>
            </ul>
            <ul>
                <a href = "{% url 'login' %}">Sign In</a>
            </ul>
        </div>
        {% endif %}
    </nav>
    <form>
        <div id = "search">
            <input type = "text" name = "name" placeholder = "Search for a Workout"/>
            <input type = "submit" value = "Search" />
        </div>
    </form>
    {% block body %}
    {% endblock %}
</body>
</html>