nav {
    background-color: blue;
}

#title {
    display: flex;
    justify-content: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#nav-left {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

#nav-right {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

#button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 6px 16px;
}

.container {
    position: relative;
    margin: 0 auto;
    box-sizing: border-box;
}

#workout {
    border: 2px solid blue;
    border-radius: 10px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 2px !important;
    padding: 0;
}

#search{
    display: flex;
    justify-content: center;
    padding: 16px;
}