nav {
    background-color: blue;
}

#title {
    display: flex;
    justify-content: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#nav {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

#search{
    display: flex;
    justify-content: center;
}