{% extends 'base.html' %}
{% block title %}
    GIT FIT NOW
{% endblock %}

{% block body %}
    <div class = "container">
        <h1>About</h1>
        <div>
            <p>
                This application was created by me, Dominick Chiang, on April 16th, 2022 to encourage everyone to live a healthier lifestyle and get more into exercising. Living the 9-5 lifestyle and with COVID going on, I was becoming very stationary sitting at a desk from 9-5 for 5 days a week. I reached the heaviest weight in December of 2021 at 235 lbs. At this point, I was determined to live a healthier lifestyle and find more time to exercise. <br><br>
    
                This application was made to share and create different kinds of workouts using a exercise database. Exercises can be reused to create new workouts. If you don't see a workout, you can add one! <br><br>
    
                If there are any issues with this application, please email chiangd233@gmail.com.
                
            </p>
            <a href = "{% https://mail.google.com/mail/u/0/#inbox %}">
                <input type = "button" value = "Email Me">
            </a>
        </div>
    </div>
    
    
{% endblock %}