{% extends 'base.html' %}
{% block title %}
    GIT FIT NOW
{% endblock %}

{% block body %}
    <h1>About</h1>
    <div>
        <p>
            This application was created by me, Dominick Chiang, on April 16th, 2022 to encourage everyone to live a healthier lifestyle and get more into exercising. Living the 9-5 lifestyle and with COVID going on, I was becoming very stationary sitting at a desk from 9-5 for 5 days a week. I reached the heaviest weight in December of 2021 at 235 lbs. At this point, I was determined to live a healthier lifestyle and find more time to exercise.

            
        </p>
    </div>
    
{% endblock %}