{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel = "stylesheet" href = "{% static 'styles/styles.css' %}" />
    <link rel = "stylesheet" href = "{% static 'styles/normalize.css' %}" />
    <link rel = "stylesheet" href = "{% static 'styles/skeleton.css' %}" />
    <script src = "{% static 'scripts/app.js' %}" defer></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
    <nav class = "row">
        <div class = "twelve columns" id = "title">
            <h1>GIT FIT NOW</h1>
        </div>
    </nav>
    <nav class = "row">
        <div class = "six columns" id = "nav-left">
            {% if user.is_authenticated %}
            <ul class = "two columns" id = "button">
                <a href = "{% url 'home' %}">Home</a>
            </ul>
            <ul class = "two columns" id = "button">
                <a href = "{% url 'about' %}">About</a>
            </ul>
            <ul class = "four columns" id = "button"> 
                <a href = "{% url 'workout_create' %}">Create a Workout</a>
            </ul>
            <ul class = "four columns" id = "button">
                <a href = "{% url 'exercise_create' %}">Add an Exercise</a>
            </ul>
            {% else %}
            <ul class = "two columns" id = "button">
                <a href = "{% url 'home' %}">Home</a>
            </ul>
            <ul class = "two columns" id = "button">
                <a href = "{% url 'about' %}">About</a>
            </ul>
            <ul class = "eight columns" ></ul>
            {% endif %}
        </div>
        
        <div class = "six columns" id = "nav-right">
            {% if user.is_authenticated %}
            <ul class = "five columns" id = "button">
                <a href = "/user/{{user.username}}">Hello, {{user.username}}</a>
            </ul>
            <ul class = "three columns" id = "button">
                <a href = "{% url 'logout' %}"> Logout </a>
            </ul>
            {% else %}
            <ul class = "three columns" id = "button">
                <a href = "{% url 'signup' %}">Sign Up</a>
            </ul>
            <ul class = "three columns" id = "button">
                <a href = "{% url 'login' %}">Sign In</a>
            </ul>
            {% endif %}
        </div>
    </nav>
    {% block body %}
    {% endblock %}
</body>
</html>