{% extends 'base.html' %}


{% block body %}
    <div class = "container" id = "form">
        <div>
            <h1>Details for {{workout.name}}</h1>
        </div>
        <div class = "workout">
            <p>Created By: {{workout.user.username}}</p>
            <p>Intensity: {{workout.intensity}}</p>
            <p>Body Parts Worked:
                {% for part in workout.exercise.all %}
                {{part.body}}
                {% empty %}
                <p>Add exercises to show body parts worked.</p>
                {% endfor %}
            </p>
            <p>Estimated Time to Complete: {{workout.time}} minutes</p>
            <p>Number of Rounds: {{workout.rounds}}</p>
        </div>
        <div>
            {% for exercise in workout.exercise.all %}
            <li>{{exercise.number}}x {{exercise.name}}</li>
            {% empty %}
            <p>Exercises have not been added to this workout yet.</p>
            {% endfor %}
        </div>
        <div class = "exercise">
            {% for exercises in exercises %} 
            <li></li>
            {% endfor %}
        </div>
        <div>
            {% if user.is_authenticated %}
            {% if user == workout.user %}
            <a href = "{% url 'workout_update' workout.pk %}">
                <input type = "button" value = "Update Workout">
            </a>
            <a href = "{% url 'workout_delete' workout.pk %}">
                <input type = "button" value = "Delete Workout">
            </a>
            {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}

